<div class="comingsoon">
    <div class="comingsoon_text">
        Mobile site coming soon..
    </div>
</div>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Hugh Desmond
        </span>
    </div>
</div>


<!-- data-aos="fade-right"
         data-aos-mirror="true"
         data-aos-once="false"
         data-aos-easing="ease-in-out"
         data-aos-anchor-placement="top-bottom"
         data-aos-offset="200"-->
<section class="section section-light">
    <div id="hugh1" >
        <div class="body">
            <div class="head_container">
                <div class="head">
                    <div class="hairs">
                        <div class="hair one anim_blow"></div>
                        <div class="hair two anim_blow"></div>
                        <div class="hair three anim_blow"></div>
                        <div class="hair four anim_blow"></div>
                        <div class="hair five anim_blow"></div>
                        <div class="hair six anim_blow"></div>
                        <div class="hair seven anim_blow"></div>
                        <div class="hair eight anim_blow"></div>
                    </div>
                    <div class="eye anim_blink" id="left"></div>
                    <div class="eye anim_blink" id="right"></div>
                </div>
            </div>
            <div class="arm_container">
                <div class="arm" id="left"></div>
            </div>
            <div class="arm" id="right"></div>
            <div class="shoe" id="left"></div>
            <div class="shoe" id="right"></div>
        </div>
        <div class="board">
            <div class="wheel anim_spin" id="left"></div>
            <div class="wheel anim_spin" id="right"></div>
        </div>
    </div>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border">
            Front-End
        </span>
    </div>
</div>

<section class="section section-dark" >
    <h2>The devil is in the details..</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consectetur consequatur debitis doloremque excepturi mollitia
        nisi quis sunt. Ipsam, iste itaque neque quae repudiandae sunt
        ullam voluptatum. A ab aliquam assumenda aut consequatur dignissimos,
        dolorem doloremque dolorum eius enim eos esse exercitationem explicabo
        facere, id maxime minus modi obcaecati officia officiis placeat possimus
        quis recusandae reiciendis repudiandae, sapiente sequi sit sunt tempora
        vero?
    </p>
</section>

<div class="pimg3">
    <div class="ptext">
        <span class="border">
            Back-End
        </span>
    </div>
</div>

<section class="section section-dark">
    <h2>I turn coffee into code!</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consectetur consequatur debitis doloremque excepturi mollitia
        nisi quis sunt. Ipsam, iste itaque neque quae repudiandae sunt
        ullam voluptatum. A ab aliquam assumenda aut consequatur dignissimos,
        dolorem doloremque dolorum eius enim eos esse exercitationem explicabo
        facere, id maxime minus modi obcaecati officia officiis placeat possimus
        quis recusandae reiciendis repudiandae, sapiente sequi sit sunt tempora
        vero?
    </p>
</section>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Hugh Desmond
        </span>
    </div>
</div>