<div class="comingsoon">
    <div class="comingsoon_text">
        Mobile site coming soon..
    </div>
</div>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Hugh Desmond
        </span>
    </div>
</div>

<section class="section section-light">
    <img id="hugh1" src="./images/hugh_big.png"
         data-aos="fade-right"
         data-aos-mirror="true"
         data-aos-once="false"
         data-aos-easing="ease-in-out"
         data-aos-anchor-placement="top-bottom"
         data-aos-offset="200">
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border">
            Front-End
        </span>
    </div>
</div>

<section class="section section-dark" >
    <h2>The devil is in the details..</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consectetur consequatur debitis doloremque excepturi mollitia
        nisi quis sunt. Ipsam, iste itaque neque quae repudiandae sunt
        ullam voluptatum. A ab aliquam assumenda aut consequatur dignissimos,
        dolorem doloremque dolorum eius enim eos esse exercitationem explicabo
        facere, id maxime minus modi obcaecati officia officiis placeat possimus
        quis recusandae reiciendis repudiandae, sapiente sequi sit sunt tempora
        vero?
    </p>
</section>

<div class="pimg3">
    <div class="ptext">
        <span class="border">
            Back-End
        </span>
    </div>
</div>

<section class="section section-dark">
    <h2>I turn coffee into code!</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consectetur consequatur debitis doloremque excepturi mollitia
        nisi quis sunt. Ipsam, iste itaque neque quae repudiandae sunt
        ullam voluptatum. A ab aliquam assumenda aut consequatur dignissimos,
        dolorem doloremque dolorum eius enim eos esse exercitationem explicabo
        facere, id maxime minus modi obcaecati officia officiis placeat possimus
        quis recusandae reiciendis repudiandae, sapiente sequi sit sunt tempora
        vero?
    </p>
</section>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Hugh Desmond
        </span>
    </div>
</div>