<div class="comingsoon">
    <div class="comingsoon_text">
        Mobile site coming soon..
    </div>
</div>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Hugh Desmond
        </span>
    </div>
</div>


<!-- data-aos="flip-right"
         data-aos-mirror="true"
         data-aos-once="false"
         data-aos-easing="ease-in-out"
         data-aos-anchor-placement="top-bottom"
         data-aos-offset="200"-->
<section class="section section-light">
    <div id="hugh1" >
        <div class="body">
            <div class="head_container">
                <div class="head">
                    <div class="hairs">
                        <div class="hair one anim_blow"></div>
                        <div class="hair two anim_blow"></div>
                        <div class="hair three anim_blow"></div>
                        <div class="hair four anim_blow"></div>
                        <div class="hair five anim_blow"></div>
                        <div class="hair six anim_blow"></div>
                        <div class="hair seven anim_blow"></div>
                        <div class="hair eight anim_blow"></div>
                    </div>
                    <div class="eye anim_blink" id="left"></div>
                    <div class="eye anim_blink" id="right"></div>
                </div>
            </div>
            <div class="shoe" id="left"></div>
            <div class="shoe" id="right"></div>
            <div class="arm" id="left"></div>
            <div class="arm" id="right"></div>
        </div>
        <div class="board">
            <div class="wheel anim_spin" id="left"></div>
            <div class="wheel anim_spin" id="right"></div>
        </div>
    </div>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border">
            Front-End
        </span>
    </div>
</div>

<section id="section2" class="section section-dark" >
    <div class="scene1"></div>
        <div class="turtle_container">
            <div class="turtle" id="turtle1" >
                <div class="count" data-aos="flip-right"
                     data-aos-offset="435">5</div>
                <div class="tbody">
                    <div class="thead">
                        <div class="teye anim_blink" id="left"></div>
                        <div class="teye anim_blink" id="right"></div>
                    </div>
                    <div class="tfoot" id="left"></div>
                    <div class="tfoot" id="right"></div>
                </div>
            </div>
            <div class="turtle" id="turtle2" >
                <div class="count" data-aos="flip-right"
                     data-aos-offset="410">4</div>
                <div class="tbody">
                    <div class="thead">
                        <div class="teye anim_blink" id="left"></div>
                        <div class="teye anim_blink" id="right"></div>
                    </div>
                    <div class="tfoot" id="left"></div>
                    <div class="tfoot" id="right"></div>
                </div>
            </div>
            <div class="turtle" id="turtle3" >
                <div class="count" data-aos="flip-right"
                     data-aos-offset="385">3</div>
                <div class="tbody">
                    <div class="thead">
                        <div class="teye anim_blink" id="left"></div>
                        <div class="teye anim_blink" id="right"></div>
                    </div>
                    <div class="tfoot" id="left"></div>
                    <div class="tfoot" id="right"></div>
                </div>
            </div>
            <div class="turtle" id="turtle4" >
                <div class="count" data-aos="flip-right"
                     data-aos-offset="360">2</div>
                <div class="tbody">
                    <div class="thead">
                        <div class="teye anim_blink" id="left"></div>
                        <div class="teye anim_blink" id="right"></div>
                    </div>
                    <div class="tfoot" id="left"></div>
                    <div class="tfoot" id="right"></div>
                </div>
            </div>
            <div class="turtle" id="turtle5" >
                <div class="count" data-aos="flip-right"
                     data-aos-offset="330">1</div>
                <div class="tbody">
                    <div class="thead">
                        <div class="teye anim_blink" id="left"></div>
                        <div class="teye anim_blink" id="right"></div>
                    </div>
                    <div class="tfoot" id="left"></div>
                    <div class="tfoot" id="right"></div>
                </div>
            </div>
        </div>
        <div class="big_heading" id="years">Years</div>
        <div class="big_heading" id="in">in</div>
        <div class="big_heading" id="university">University</div>
        <div id="hugh2" >
            <div class="body">
                <div class="head_container">
                    <div class="head">
                        <div class="hairs">
                            <div class="hair one anim_blow"></div>
                            <div class="hair two anim_blow"></div>
                            <div class="hair three anim_blow"></div>
                            <div class="hair four anim_blow"></div>
                            <div class="hair five anim_blow"></div>
                            <div class="hair six anim_blow"></div>
                            <div class="hair seven anim_blow"></div>
                            <div class="hair eight anim_blow"></div>
                        </div>
                        <div class="eye anim_blink" id="left"></div>
                        <div class="eye anim_blink" id="right"></div>
                    </div>
                </div>
                <div class="shoe" id="left"></div>
                <div class="shoe" id="right"></div>
                <div class="arm" id="left"></div>
                <div class="arm" id="right"></div>
            </div>
            <div class="board">
                <div class="wheel" id="left"></div>
                <div class="wheel" id="right"></div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () { // wait for document ready
        // init
        var controller = new ScrollMagic.Controller();

        //build skate jump tween
        var skateTween = TweenMax.to("#hugh2",8,{bezier:{type:"soft", values:[{x:-320, y:0, opacity: 1}, {x:-640, y:-140}, {x:-960, y:0}, {x:-1280, y:0, opacity: 0} /**, {x:-1440, y:0}**/ ], autoRotate:180}, ease:Power0.easeNone});

        //build skate jump scene
        var scene = new ScrollMagic.Scene({triggerElement: ".turtle_container", duration: 400, offset: -200})
                .setTween(skateTween)
                //.setPin("#hugh2", {pushFollowers: false})
                .addTo(controller);

        //skate fades
        var tl = new TimelineMax();
        tl.to("#hugh2" , .5, { opacity:1 , ease:Power4.easeIn })
                .to("#hugh2" , 4, {  opacity:1 })
                .to("#hugh2" , 4.5, {  opacity:0 , ease:Power4.easeIn});

        var scene = new ScrollMagic.Scene({triggerElement: ".turtle_container", duration: 400, offset: -200})
                .setTween(tl)
                .addTo(controller);

        //wheel spin
        var wheelSpinTween = TweenMax.to("#hugh2 .wheel",8,{rotation: -2160, ease:Power0.easeNone});

        var scene = new ScrollMagic.Scene({triggerElement: ".turtle_container", duration: 400, offset: -200})
                .setTween(wheelSpinTween)
                .addTo(controller);

        //count animations
        //var countTween = TweenMax.to("#turtle5 .count",8,{  ,  ease:Power0.easeNone});

        //var scene = new ScrollMagic.Scene({triggerElement: ".turtle_container", duration: 400, offset: -200})
                //.setTween(wheelSpinTween)
                //.addIndicators()
                //.addTo(controller);

    });

    /*
    //custom trigger anim
    var controller = new ScrollMagic.Controller();

    var scene = new ScrollMagic.Scene({triggerElement: "#section2"})
            .setClassToggle("#section2","make_orange")
            .addIndicators({name: "1 - add a class"})
            .addTo(controller);

    //section slide effect
    $(function () { // wait for document ready
        // init
        var controller = new ScrollMagic.Controller({
            globalSceneOptions: {
                triggerHook: 'onLeave'
            }
        });

        // get all slides
        var slides = document.querySelectorAll("section");

        // create scene for every slide
        for (var i=0; i<slides.length; i++) {
            new ScrollMagic.Scene({
                triggerElement: slides[i]
            })
                    .setPin(slides[i])
                    .addIndicators() // add indicators (requires plugin)
                    .addTo(controller);
        }
    });
    */
</script>

<div class="pimg3">
    <div class="ptext">
        <span class="border">
            Back-End
        </span>
    </div>
</div>

<section class="section section-dark">
    <h2>I turn coffee into code!</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consectetur consequatur debitis doloremque excepturi mollitia
        nisi quis sunt. Ipsam, iste itaque neque quae repudiandae sunt
        ullam voluptatum. A ab aliquam assumenda aut consequatur dignissimos,
        dolorem doloremque dolorum eius enim eos esse exercitationem explicabo
        facere, id maxime minus modi obcaecati officia officiis placeat possimus
        quis recusandae reiciendis repudiandae, sapiente sequi sit sunt tempora
        vero?
    </p>
</section>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Hugh Desmond
        </span>
    </div>
</div>