<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="animate.css/animate.min.css">
    <link rel="stylesheet" href="aos/dist/aos.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- load external js files -->
    <script src="aos/dist/aos.js"></script>
    <script src="scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
    <script src="gsap/src/minified/TweenMax.min.js"></script>
    <script src="scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    <script src="jquery/dist/jquery.js"></script>
    <script src="gsap/src/minified/plugins/BezierPlugin.min.js"></script>
    <script>
        AOS.init();
    </script>


    {{{body}}}


  </body>
</html>
