//hugh's hair blows in the wind
.anim_blow {
  -webkit-animation-name: hinge2;
  animation-name: hinge2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

//skateboard wheels spin
.anim_spin {
  will-change: transform;
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

//hugh1 jumps off the skateboard
#hugh1.hugh_goodbye .body{
  animation: body-jump 2.5s infinite;
}

//hugh1 feet and head tilt when he jumps
#hugh1.hugh_goodbye .shoe#left{
  animation: left-shoe-jump 2.5s infinite;
}

#hugh1.hugh_goodbye .shoe#right{
  animation: right-shoe-jump 2.5s infinite;
}

#hugh1 .head_wrap{
  animation: head-jump 2.5s infinite;
}

//hugh1 waves at us
#hugh1 .arm#left{
  animation: left-arm-jump 2.5s infinite;
}

//hugh2 and hugh3 arms shake for balance
#hugh2 .arm, #hugh3 .arm{
  animation: arm-balance 1s infinite;
}

#hugh2 .arm#right, #hugh3 .arm#right{
  animation-delay: .5s;
}

//make the turtles eyes blink at staggered times
.turtle:nth-child(2) .teye{
  animation-delay: 1.3s;
}

.turtle:nth-child(3) .teye{
  animation-duration: 6.5s;
}

.turtle:nth-child(4) .teye{
  animation-delay: 3.2s;
}

.turtle:nth-child(5) .teye{
  animation-duration: 8s;
}

//make the turtles feet dance, every 2 feet will dance in opposite direction
.turtle:nth-child(odd) .tfoot#left{
  animation-delay: .5s;
}

.turtle:nth-child(even) .tfoot#right{
  animation-delay: .5s;
}

.tfoot{
  animation: turtle-stomp 1s infinite;
}

//stagger tim and jims blinks
#tim .eye{
  animation-duration: 3s;
  animation-delay: 1s;
}

/* ==SCROLL TRIGGERED ANIMATIONS== */
.grow_pad{
  animation: grow-y 1s 1s 1 ease-out forwards;
}

.rotate_arrows{
  animation: rotate 1.5s 1s 1 ease-out forwards;
}

.grow_arrow_down{
  animation:grow 1s 1.15s 1 ease forwards;
}

.grow_arrow_left{
  animation:grow 1s 1.3s 1 ease forwards;
}

.grow_arrow_up{
  animation:grow 1s 1.45s 1 ease forwards;
}

.grow_arrow_right{
  animation:grow 1s 1.6s 1 ease forwards;
}

.grow_button_left{
  animation:grow 1s 1.75s 1 ease forwards;
}

.grow_button_right{
  animation:grow 1s 1.9s 1 ease forwards;
}

.grow_slider_line{
  animation: line-grow 1s 1.15s 1 ease-out forwards;
}

.grow_slider_knob{
  animation: grow-y 1s 2.05s 1 ease forwards;
}

.grow_stump{
  animation: grow 1s 1.5s 1 ease forwards;
}

.grow_aerial_part1{
  animation: aerial-grow1 .25s 2s 1 linear forwards;
}

.grow_aerial_part2{
  animation: aerial-grow2 .25s 2.25s 1 linear forwards;
}

.grow_aerial_part3{
  animation: aerial-grow3 .25s 2.5s 1 linear forwards;
}

.grow_aerial_part4{
  animation: aerial-grow4 .25s 2.75s 1 linear forwards;
}

.spring_aerial{
  animation: spring 1s 2.75s 1 ease forwards;
}

.grow_bulb{
  animation: appear 1ms 3.15s 1 forwards;
}

.click_me_fade{
  animation: appear .5s 2s forwards;
}

.click_me_anim{
  animation: bounce 1.5s 2.5s infinite;
}

.grow_bubble{
  animation: grow .7s .5s 1 forwards;
}

.shot{
  transform-origin: center center;
  animation: shot .5s ease-in forwards;
}

/* ==KEYFRAMES== */

@keyframes appear{
  to {opacity: 1}
}

@keyframes aerial-grow1
{
  to {width:100px;}
}

@keyframes aerial-grow2{
  to {width: 146px;}
}

@keyframes aerial-grow3{
  to {width: 128px;}
}

@keyframes aerial-grow4{
  to {width:100px;}
}


/* Safari and Chrome */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes hinge2 {
  0% {
    transform: rotate3d(0, 0, 1, 315deg);
    transform-origin: bottom right;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    transform: rotate3d(0, 0, 1, 300deg);
    transform-origin: bottom right;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    transform: rotate3d(0, 0, 1, 305deg);
    transform-origin: bottom right;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100%{
    transform: rotate3d(0, 0, 1, 315deg);
  }
}

@keyframes eye-blink
{
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  45% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  55% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1) ;
    transform: scaleY(1) ;
  }
}

@-webkit-keyframes eye-blink /* Safari and Chrome */
{
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  45% {
    -webkit-transform: scaleY(1) ;
    transform: scaleY(1) ;
  }
  50% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  55% {
    -webkit-transform: scaleY(1) ;
    transform: scaleY(1) ;
  }
  100% {
    -webkit-transform: scaleY(1) ;
    transform: scaleY(1) ;
  }
}

.anim_blink {
  -webkit-animation: eye-blink 4s infinite;
  animation: eye-blink 4s infinite;
}

@keyframes head-shakex
{
  20% {
    //animation-timing-function: ease-in;
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0px);
  }
}

@keyframes head-shakey
{
  20% {
    //animation-timing-function: ease-out;
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes head-shakex
{
  20% {
    //-webkit-animation-timing-function: ease-in;
    -webkit-transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(0px);
  }
}

@-webkit-keyframes head-shakey
{
  20% {
    //-webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0px);
  }
}

@keyframes wavex
{
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
}

@keyframes wavey
{
  10% {
    transform: translateY(-30px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(30px);
  }
}

@keyframes body-jump
{
  3% {
    //animation-timing-function: ease-in;
    transform-origin: 50% 100%;
    transform: translateY(2px) /**scaleY(0.95)**/;
  }
  6% {
    //animation-timing-function: linear;
    transform: translateY(0px) /**scaleY(1)**/;
  }
  12% {
    //animation-timing-function: ease-out;
    transform: translateY(-50px);
  }
  18% {
    //animation-timing-function: ease-in;
    transform: translateY(0px) /**scaleY(1)**/;
  }
  21% {
    //animation-timing-function: linear;
    transform: translateY(2px) /**scaleY(0.95)**/;
  }
  24% {
    //animation-timing-function: ease-out;
    transform: translateY(0px) /**scaleY(1)**/;
  }
}

@keyframes left-shoe-jump
{
  6% {
    transform-origin: 41px 6px;
    transform: rotate(0deg);
  }
  9% {
    //animation-timing-function: ease-out;
    transform: rotate(-12deg);
  }
  15% {
    transform: rotate(-12deg);
  }
  18% {
    //animation-timing-function: ease-in;
    transform: rotate(0deg);
  }
}

@keyframes right-shoe-jump
{
  6% {
    transform-origin: 21px 6px;
    transform: rotate(0deg);
  }
  9% {
    //animation-timing-function: ease-out;
    transform: rotate(12deg);
  }
  15% {
    transform: rotate(12deg);
  }
  18% {
    //animation-timing-function: ease-in;
    transform: rotate(0deg);
  }
}

@keyframes left-arm-jump
{
  6% {
    transform: translateY(0px);
  }
  12% {
    //animation-timing-function: ease-out;
    transform: translateY(-60px);
  }
  18% {
    //animation-timing-function: ease-in;
    transform: translateY(0px);
  }
}

@keyframes arm-balance
{
  50% {
    animation-timing-function: ease;
    transform: translateY(16px);
  }
  100% {
    animation-timing-function: ease;
    transform: translateY(0px);
  }
}

@keyframes turtle-stomp
{
  50% {
    animation-timing-function: ease;
    transform: translateY(4px);
  }
  100% {
    animation-timing-function: ease;
    transform: translateY(0px);
  }
}

@keyframes head-jump
{
  6% {
    transform: rotate(0deg);
  }
  12% {
    //animation-timing-function: ease-out;
    transform: rotate(8deg);
  }
  18% {
    //animation-timing-function: ease-in;
    transform: rotate(0deg);
  }
}

@keyframes grow
{
  0% {
    opacity: 1;
    position:absolute;
    -webkit-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
  }
  60% {
    -webkit-transform: scale(1.15) translateZ(0);
    transform: scale(1.15) translateZ(0);
  }
  80% {
    -webkit-transform: scale(0.95) translateZ(0);
    transform: scale(0.95) translateZ(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
  }
}

@keyframes rotate
{
  100% {
    transform: rotate(45deg);
  }
}

@keyframes grow-y
{
  0% {
    position:absolute;
    transform: scaleY(0);
  }
  60% {
    transform: scaleY(1.15);
  }
  80% {
    transform: scaleY(0.95);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes grow-y
{
  0% {
    position:absolute;
    -webkit-transform: scaleY(0);
  }
  60% {
    -webkit-transform: scaleY(1.15);
  }
  80% {
    -webkit-transform: scaleY(0.95);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes line-grow
{
  0% {
    position:absolute;
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@-webkit-keyframes line-grow
{
  0% {
    position:absolute;
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}

@keyframes spring
{
  30% {
    transform: scaleY(0.875);
  }
  40% {
    transform: scaleY(1.125);
  }
  50% {
    transform: scaleY(0.975);
  }
  65% {
    transform: scaleY(1.025);
  }
  75% {
    transform: scaleY(0.975);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes rleft
{
  100% {
    transform: translateX(-62px);
  }
}



@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

@keyframes drink {
  60% {
    transform: rotate(0deg);
  }
  70% {
    transition-timing-function: ease-in;
    transform: rotate(-75deg) translate(50px, -5px);
  }
  90% {
    transition-timing-function: ease-out;
    transform: rotate(-75deg) translate(50px, -5px);
  }
}

@keyframes viola {
  0% {
    transform: rotate(330deg);
  }
  10% {
    transition-timing-function: ease-out;
    transform: rotate(250deg) translate(10px, 5px);
  }
  50% {
    transform: rotate(250deg) translate(10px, 5px);
  }
  60% {
    transition-timing-function: ease-in;
    transform: rotate(330deg);
  }
}

@keyframes scratch {
  80% {
    transform: rotate(0deg);
  }
  84% {
    transition-timing-function: ease-in-out;
    transform: rotate(25deg);
  }
  86% {
    transition-timing-function: linear;
    transform: rotate(22deg);
  }
  88% {
    transition-timing-function: linear;
    transform: rotate(25deg);
  }
  90% {
    transition-timing-function: linear;
     transform: rotate(22deg);
   }
  92% {
    transition-timing-function: linear;
    transform: rotate(25deg);
  }
  96% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
}

@keyframes chopper {
  0% {
    transition-timing-function: linear;
    transform: scaleX(1);
  }
  50% {
    transition-timing-function: linear;
    transform: scaleX(0);;
  }
}

@keyframes fly {
  0% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 0px);
  }
  10% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 200px);
  }
  20% {
    transition-timing-function: ease-in-out;
    transform: translate(200px, 200px);
  }
  30% {
    transition-timing-function: ease-in-out;
    transform: translate(200px, 400px);
  }
  40% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 400px);
  }
  50% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 600px);
  }
  60% {
    transition-timing-function: ease-in-out;
    transform: translate(200px, 600px);
  }
  70% {
    transition-timing-function: ease-in-out;
    transform: translate(200px, 800px);
  }
  80% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 800px);
  }
  90% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 1000px);
  }
  100% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 1000px);
  }
}

@keyframes lean {
  0% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
  10% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
  12% {
    transition-timing-function: ease-in-out;
    transform: rotate(15deg);
  }
  18% {
    transition-timing-function: ease-in-out;
    transform: rotate(15deg);
  }
  20% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
  30% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
  32% {
    transition-timing-function: ease-in-out;
    transform: rotate(-15deg);
  }
  38% {
    transition-timing-function: ease-in-out;
    transform: rotate(-15deg);
  }
  40% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
  50% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
  52% {
    transition-timing-function: ease-in-out;
    transform: rotate(15deg);
  }
  58% {
    transition-timing-function: ease-in-out;
    transform: rotate(15deg);
  }
  60% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
  70% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
  72% {
    transition-timing-function: ease-in-out;
    transform: rotate(-15deg);
  }
  78% {
    transition-timing-function: ease-in-out;
    transform: rotate(-15deg);
  }
  80% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
  100% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
}

@keyframes rock {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  13% {
    transition-timing-function: ease-in;
    transform: rotate(10deg);
  }
  17% {
    transform: rotate(10deg);
  }
  22% {
    transition-timing-function: linear;
    transform: rotate(-14deg);
  }
  24% {
    transition-timing-function: linear;
    transform: rotate(9deg);
  }
  26% {
    transition-timing-function: linear;
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  33% {
    transition-timing-function: ease-in;
    transform: rotate(-10deg);
  }
  37% {
    transform: rotate(-10deg);
  }
  42% {
    transition-timing-function: linear;
    transform: rotate(14deg);
  }
  44% {
    transition-timing-function: linear;
    transform: rotate(-9deg);
  }
  46% {
    transition-timing-function: linear;
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  53% {
    transition-timing-function: ease-in;
    transform: rotate(10deg);
  }
  57% {
    transform: rotate(10deg);
  }
  62% {
    transition-timing-function: linear;
    transform: rotate(-14deg);
  }
  64% {
    transition-timing-function: linear;
    transform: rotate(9deg);
  }
  66% {
    transition-timing-function: linear;
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  73% {
    transition-timing-function: ease-in;
    transform: rotate(-10deg);
  }
  77% {
    transform: rotate(-10deg);
  }
  82% {
    transition-timing-function: linear;
    transform: rotate(14deg);
  }
  84% {
    transition-timing-function: linear;
    transform: rotate(-9deg);
  }
  86% {
    transition-timing-function: linear;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes hover {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px) rotate(0deg) scale(1);
  }
  25% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px) rotate(1deg) scale(1.04);
  }
  50% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px) rotate(0deg) scale(1);
  }
  75% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px) rotate(-.5deg) scale(1.04);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px) rotate(0deg) scale(1);
  }
}

@keyframes shot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  80% {
    transition-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transition-timing-function: ease-in;
    transform: translateY(300px) rotate(311deg);
    opacity: 0;
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes typing {
  from { width: 0 }
  to { width: 16em }
}