@import "animations";

//$trim1: #58abd2;
$trim1: #e49b2e;

//mobile site coming soon.. normal site is 960px
@media only screen and (min-width:500px) {
  /* For desktop: */
  .comingsoon {
    display: none;
  }
}

body, html {
  height: 100%;
  margin:0;
  font-size:16px;
  font-family: "Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.comingsoon{
  display: none;    //TODO turn off this line for production
  position: fixed;
  background-color: #292929;
  height: 100%;
  width: 100%;
  z-index: 10;     //put it in front of everything
}

.comingsoon_text{
  top:50%;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #dddddd;
  font-size: 30px;
}

header,section,footer,aside,nav,article,hgroup,img{
  display:block;
}

.pimg1,.pimg2,.pimg3{
  position: relative;
  opacity:.6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ptext{
  position: absolute;
  color: $trim1;
  text-transform: uppercase;
  font-size: 30px;
  top:50%;
  width:100%;
  text-align:center;
  letter-spacing: 8px;
}

.border{
  border: 4px solid $trim1;
  padding: 15px;
}

.pimg1 {
  background-image: url('../images/bg1.jpeg');
  min-height:100%;
}

.pimg2 {
  background-image: url('../images/bg2.jpeg');
  min-height:400px;
}

.pimg3 {
  background-image: url('../images/bg3.jpeg');
  min-height:400px;
}

.section{
  position: relative;
  width: 100%;
  height: 100%;
}

.section-light{
  background-color: #bfdef4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

#section2{
  overflow: hidden;
}

#section3{
  overflow: hidden;
}

#section4{
  overflow: hidden;
}

.scene1{
  position: relative;
}

.scene2{
  position: relative;
}

.scene3{
  position: absolute;
  width: 800px;
  height: 436px;
  top:50%;
  left: 50%;
  margin-top: -216px;
  margin-left: -400px;
}

.big_heading{
  position: absolute;
  font-size: 132px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  text-align: center;
  line-height: 1em;
  //letter-spacing: -.05em;
  width: 100%;
  //text-transform: uppercase;
}

#years{
  top: 258px;
}

#in{
  top: 356px;
}

#university{
  top: 428px;
  color: $trim1;
}

#controller{
  position: absolute;
  background-repeat: no-repeat;
  transform-origin: center bottom;
  transform: scale(.8);
  bottom: -40px;
}

#warehouse{
  position: absolute;
  right: 20px;
  margin-left: -216px;
  width: 436px;    //60 x 60 px per tile with 2px border
  height: 436px;
}

//css tables
 #table{
   position: absolute;
   display: table;
   width: 100%;
   height: 100%;
   border-spacing: 2px
 }

.tr{
  display: table-row;
}

.td{
  background: #ae9a96;
  display: table-cell;
  //animation:grow 1s .15s 1 ease forwards;
}

.rack{
  background: #855555;
}

#ball{
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url('../images/ball.png');
  background-repeat: no-repeat;
  background-size: 53px 51px;
  background-position: center;
  opacity: 0;
}

#robot{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 188px;
  top: 188px;
  opacity: 0;
}

.tracks{
  position: absolute;
  //background: #855555;
  //background: rgba(132, 133, 52, 0.38);
  background:url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQYV2PMtrX9z8DAwKCppweiGBhJFwAAb3sJqY9jJiAAAAAASUVORK5CYII=
  ) repeat;
  border-radius: 6px;
  width: 30px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -25px;
}

.chassis{
  position: absolute;
  background: #d7ca8f;
  border-radius: 6px;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 30px;
  margin-left: -25px;
  margin-top: -15px;
}

#robo_arm{
  position: absolute;
  width: 60px;
  height: 60px;
  transform-origin: center center;
}

.stem{
  position: absolute;
  background: #000000;
  border-radius: 2px;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 2px;
  margin-top: -1px;
}


.finger{
  position: absolute;
  background: #000000;
  border-radius: 2px;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  transform-origin: 1px center;
}

.finger.f1{
  left: 68px;
  width: 20px;
}

.finger.f1#right{
  transform: rotate(90deg);
}

.finger.f1#left{
  transform: rotate(-90deg);
}

.finger.f2{
  left: 69px;
  width: 10px;
}

.finger.f2#right{
  top: 12px;
}

.finger.f2#left {
  top: 48px;
}

#ballPlaceHolder{
  position: absolute;
  top:50%;
  left: 60px;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}

#ballPlaceHolder2{
  position: absolute;
  top:50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}

#goal{
  position: relative;
  top: 341px;
  left: 436px;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  opacity: 0;
}

#pulsating-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 40px;
  height: 40px;

  &:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 100%;
    background-color: #e90700;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ff1205;
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }
}

#click_me{
  position: absolute;
  font-size: 26px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  //text-transform: uppercase;
  margin-top: -23.5px;
  margin-left: 24px;
  transform-origin: left center;
  opacity: 0;
}

.pad{
  position: absolute;
  //background: #959595;
  background: #d7ca8f;
  //background: #a67272;
  width: 480px;
  height: 240px;
  border-radius: 16px;
  bottom: 0px;
  left: 3px;
  box-shadow: 10px 10px #978a55;
  transform: scale(0);   //start off hidden
  cursor: pointer;
}

.arrow_wrapper{
  position: absolute;
  width: 120px;
  height: 120px;
  top: 120px;
  left: 118px;
  margin-top: -60px;
  margin-left: -60px;
}

.arrow{
  position: absolute;
  //background: #555555;
  background: #855555;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  margin: 4px;
  transform: scale(0);   //start off hidden
  box-shadow: 3px -3px #653e3e;
}

.clicky:hover{
  filter: brightness(130%)
}

.arrow#a_left{
  bottom: 0;
}

.arrow#a_down{
  right: 0;
  bottom: 0;
}

.arrow#a_right{
  right: 0;
}

.controls_wrapper{
  position: absolute;
  display: table;
  width: 180px;
  height: 150px;
  top: 50%;
  right: 42px;
  margin-top: -75px;
}

.buttons_wrapper{
  width: 100%;
  height: 60px;
}

.button{
  position: absolute;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  transform: scale(0);   //start off hidden
}

.button#left{
  background: #2e9a42;
  left: 14px;
  box-shadow: 3px 0px #217a2d;
}

.button#right{
  background: #c08431;
  right: 14px;
  box-shadow: 3px 0px #976525;
}

.slider_wrapper{
  position: relative;
  display: table;
  width: 180px;
  height: 60px;
  margin-top: 30px;
}

.slider_wrapper .line{
  position: absolute;
  background: #653e3e;
  border-radius: 1px;
  width: 180px;
  height: 4px;
  top: 50%;
  margin-top: -2px;
  transform: scale(0);   //start off hidden
  transform-origin: left;
}

.slider_wrapper .knob{
  position: absolute;
  background: #855555;
  border-radius: 2px;
  width: 28px;
  height: 60px;
  left: 0;
  cursor: grab;
  box-shadow: 3px 0px #653e3e;
  transform: scale(0);   //start off hidden
}

.aerial_wrapper{
  position: absolute;
  display: table;
  width: 164px;
  height: 294px;
  bottom: 240px;
  left: 240px;
  margin-left: -82px;
  transform-origin: bottom;
}

.aerial_wrapper .stump{
  background: #855555;
  position: absolute;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
  margin-bottom: -30px;
  transform: scale(0);   //start off hidden
}

.aerial_wrapper .line{
  position: absolute;
  background: #000000;
  border-radius: 3px;
  height: 6px;
  margin-bottom: -3px;
  transform-origin: left center;
  width: 0;     //start with zero width
}

.line_wrapper{
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  transform-origin: center 270px;
}

.line#part1{
  position: absolute;
  left:50%;
  bottom: 20px;
  transform: rotate(-37deg);
}

.line#part2{
  left: 100%;
  bottom: 80px;
  transform: rotate(198deg);
}

.line#part3{
  left: 26px;
  bottom: 125px;
  transform: rotate(-20deg);
}

.line#part4{
  left: 146px;
  bottom: 168px;
  transform: rotate(235deg);
}

.aerial_wrapper .bulb{
  background: #ffffff;
  position: absolute;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  left: 65px;
  bottom: 240px;
  opacity: 0;
}

#hugh1{
  display: table;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -105px;
  margin-top: -100px;
}

#hugh2{
  display: table;
  position: absolute;
  left: 50%;
  top: 55px;
  margin-left: 535px;    //1280px/2 = 640 - (image width / 2) =  535
  transform-origin: 105px 200px;
  transform: scale(.7);
  opacity: 0;
}

#hugh3{
  display: table;
  position: absolute;
  left: 50%;
  top: 55px;
  margin-left: 535px;    //1280px/2 = 640 - (image width / 2) =  535
  transform-origin: 105px 200px;
  transform: scale(.7);
  opacity: 0;
}

/* ==BODY== */
.body{
  background-image: url('../images/body.png');
  background-repeat: no-repeat;
  width: 210px;
  height: 164px;
  position: relative;   //attach parts relative from the top left of the body
}

/* ==HEAD== */
.head{
  background-image: url('../images/head.png');
  width: 84px;
  height: 72px;
  position: absolute;
  top: 12px;
  left: 73px;
}

#hugh2 .head{
  left: 59px;
}

/* ==HAIR== */
.hairs {
  position: relative;
  left: 12px;
  top: -12px;
}

//hugh2 hairs blow in opposite direction
#hugh2 .hairs {
  left: -12px;
  transform: scaleX(-1);
}

.hair {
  background-image: url('../images/hair.png');
  width: 14px;
  height: 16px;
  position: absolute;
}

//set position and delays for blowing hair
.one {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.two {
  left: 6px;
  -webkit-animation-delay: 350ms;
  animation-delay: 350ms;
}

.three {
  left: 12px;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.four {
  left: 18px;
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}

.five {
  left: 24px;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.six {
  left: 30px;
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
}

.seven {
  left: 36px;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.eight {
  left: 42px;
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

/* ==EYES== */
.eye{
  background-image: url('../images/eye.png');
  width: 10px;
  height: 28px;
  position: absolute;
  top:20px;
}

.eye#left{
  left:20px;
}

.eye#right{
  left:64px;
}

//hugh2 faces left
#hugh2 .eye#left{
  left:10px;
}

#hugh2 .eye#right{
  left:54px;
}

/* ==ARMS== */
.arm{
  background-image: url('../images/arm.png');
  width: 48px;
  height: 48px;
  position: absolute;
  top: 84px;
}

.arm#left{
  left:17px;
}

.arm#right{
  left:146px;
}

//hugh3 and hugh3 arms start higher for balance anim
#hugh2 .arm, #hugh3 .arm{
  top: 70px;
}

/* ==SHOES== */
.shoe{
  background-image: url('../images/shoe.png');
  width: 62px;
  height: 32px;
  position: absolute;
  top:132px;
}

.shoe#left{
  left:33px;
}

.shoe#right{
  left:115px;
}

/* ==BOARD== */
.board{
  background-image: url('../images/board.png');
  width: 210px;
  height: 24px;
  position: absolute;
  top:146px;
}

/* ==WHEELS== */
.wheel{
  width: 28px;
  height: 28px;
  position: absolute;
  top:26px;
}

.wheel#left{
  background-image: url('../images/wheel_left.png');
  left:33px;
}

.wheel#right{
  background-image: url('../images/wheel_right.png');
  left:149px;
}

.turtle_container{
  display: table;
  position: absolute;
  width: 632px;
  left: 50%;
  top: 170px;
  padding: 0;
  margin-left: -316px;
  transform-origin: bottom center;
  transform: scale(.7);
}

.turtle_container2{
  display: table;
  position: absolute;
  width: 504px;
  left: 50%;
  top: 170px;
  padding: 0;
  margin-left: -252px;
  transform-origin: bottom center;
  transform: scale(.7);
}

#turtle1{
  float: left;
}

#turtle2{
  float: left;
  margin-left: 8px;
}

#turtle3{
  float: left;
  margin-left: 8px;
}

#turtle4{
  float: left;
  margin-left: 8px;
}

#turtle5{
  float: left;
  margin-left: 8px;
}

.count{
  position: absolute;
  width: 120px;
  bottom: 120px;
  font-size: 132px;
  font-family: "Lato", sans-serif;
  font-weight:bolder;
  text-align: center;
}

/* ==TBODY== */
.tbody{
  background-image: url('../images/tbody.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 86px;
  position: relative;   //attach parts relative from the top left of the body
}

/* ==THEAD== */
.thead{
  background-image: url('../images/thead.png');
  width: 50px;
  height: 43px;
  position: absolute;
  top: 23px;
  left: 35px;
}

/* ==TEYES== */
.teye{
  background-image: url('../images/teye.png');
  width: 6px;
  height: 17px;
  position: absolute;
  top:12px;
}

.teye#left{
  left:12px;
}

.teye#right{
  left:38px;
}

/* ==TFEET== */
.tfoot{
  background-image: url('../images/tfoot.png');
  width: 52px;
  height: 26px;
  position: absolute;
  top:54px;
}

.tfoot#left{
  left:0;
}

.tfoot#right{
  left:68px;
}





