@media only screen and (min-width: 500px) {
  /* For desktop: */
  .comingsoon {
    display: none; } }

.comingsoon {
  display: none;
  position: fixed;
  background-color: #292929;
  height: 100%;
  width: 100%;
  z-index: 10; }

.comingsoon_text {
  top: 50%;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #dddddd;
  font-size: 30px; }

body, html {
  height: 100%;
  margin: 0;
  fony-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666; }

header, section, footer, aside, nav, article, hgroup, img {
  display: block; }

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: .6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.ptext {
  position: absolute;
  color: #e49b2e;
  text-transform: uppercase;
  font-size: 30px;
  top: 50%;
  width: 100%;
  text-align: center;
  letter-spacing: 8px; }

.border {
  border: 4px solid #e49b2e;
  padding: 15px; }

.pimg1 {
  background-image: url("../images/bg1.jpeg");
  min-height: 100%; }

.pimg2 {
  background-image: url("../images/bg2.jpeg");
  min-height: 400px; }

.pimg3 {
  background-image: url("../images/bg3.jpeg");
  min-height: 400px; }

.section {
  position: relative;
  width: 100%;
  height: 100%; }

.section-light {
  background-color: #bfdef4;
  color: #666; }

.section-dark {
  background-color: #282e34;
  color: #ddd; }

#section2 {
  overflow-x: hidden; }

#section3 {
  overflow-x: hidden; }

#scene1 {
  position: relative; }

#scene2 {
  position: relative; }

.big_heading {
  position: absolute;
  font-size: 132px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  text-align: center;
  line-height: 1em;
  width: 100%; }

#years {
  top: 258px; }

#in {
  top: 356px; }

#university {
  top: 428px;
  color: #e49b2e; }

#hugh1 {
  display: table;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -105px;
  margin-top: -100px; }

#hugh2 {
  display: table;
  position: absolute;
  left: 50%;
  top: 55px;
  margin-left: 535px;
  transform-origin: 105px 200px;
  transform: scale(0.7);
  opacity: 0; }

#hugh3 {
  display: table;
  position: absolute;
  left: 50%;
  top: 55px;
  margin-left: 535px;
  transform-origin: 105px 200px;
  transform: scale(0.7);
  opacity: 0; }

.make_orange {
  background: orange; }

/* ==BODY== */
.body {
  background-image: url("../images/body.png");
  background-repeat: no-repeat;
  width: 210px;
  height: 164px;
  position: relative; }

#hugh1 .body {
  animation: body-jump 2.5s infinite; }

/* ==HEAD== */
.head {
  background-image: url("../images/head.png");
  width: 84px;
  height: 72px;
  position: absolute;
  top: 12px;
  left: 73px; }

#hugh1 .head {
  animation: head-jump 2.5s infinite; }

#hugh2 .head {
  left: 59px; }

/* ==HAIR== */
.hairs {
  position: relative;
  left: 12px;
  top: -12px; }

#hugh2 .hairs {
  left: -12px;
  transform: scaleX(-1); }

.hair {
  background-image: url("../images/hair.png");
  width: 14px;
  height: 16px;
  position: absolute; }

.one {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms; }

.two {
  left: 6px;
  -webkit-animation-delay: 350ms;
  animation-delay: 350ms; }

.three {
  left: 12px;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms; }

.four {
  left: 18px;
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms; }

.five {
  left: 24px;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms; }

.six {
  left: 30px;
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms; }

.seven {
  left: 36px;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms; }

.eight {
  left: 42px;
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms; }

/* ==EYES== */
.eye {
  background-image: url("../images/eye.png");
  width: 10px;
  height: 28px;
  position: absolute;
  top: 20px; }

.eye#left {
  left: 20px; }

.eye#right {
  left: 64px; }

#hugh2 .eye#left {
  left: 10px; }

#hugh2 .eye#right {
  left: 54px; }

/* ==ARMS== */
.arm {
  background-image: url("../images/arm.png");
  width: 48px;
  height: 48px;
  position: absolute;
  top: 84px; }

.arm#left {
  left: 17px; }

.arm#right {
  left: 146px; }

#hugh1 .arm#left {
  animation: left-arm-jump 2.5s infinite; }

#hugh2 .arm, #hugh3 .arm {
  top: 70px;
  animation: arm-balance 1s infinite; }

#hugh2 .arm#right, #hugh3 .arm#right {
  animation-delay: .5s; }

/* ==SHOES== */
.shoe {
  background-image: url("../images/shoe.png");
  width: 62px;
  height: 32px;
  position: absolute;
  top: 132px; }

.shoe#left {
  left: 33px; }

.shoe#right {
  left: 115px; }

#hugh1 .shoe#left {
  animation: left-shoe-jump 2.5s infinite; }

#hugh1 .shoe#right {
  animation: right-shoe-jump 2.5s infinite; }

/* ==BOARD== */
.board {
  background-image: url("../images/board.png");
  width: 210px;
  height: 24px;
  position: absolute;
  top: 146px; }

/* ==WHEELS== */
.wheel {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 26px; }

.wheel#left {
  background-image: url("../images/wheel_left.png");
  left: 33px; }

.wheel#right {
  background-image: url("../images/wheel_right.png");
  left: 149px; }

.turtle_container {
  display: table;
  position: absolute;
  width: 632px;
  left: 50%;
  top: 170px;
  padding: 0;
  margin-left: -316px;
  transform-origin: bottom center;
  transform: scale(0.7); }

.turtle_container2 {
  display: table;
  position: absolute;
  width: 504px;
  left: 50%;
  top: 170px;
  padding: 0;
  margin-left: -252px;
  transform-origin: bottom center;
  transform: scale(0.7); }

#turtle1 {
  float: left; }

#turtle2 {
  float: left;
  margin-left: 8px; }

#turtle3 {
  float: left;
  margin-left: 8px; }

#turtle4 {
  float: left;
  margin-left: 8px; }

#turtle5 {
  float: left;
  margin-left: 8px; }

.count {
  position: absolute;
  width: 120px;
  bottom: 120px;
  font-size: 132px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  text-align: center; }

/* ==TBODY== */
.tbody {
  background-image: url("../images/tbody.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 86px;
  position: relative; }

/* ==THEAD== */
.thead {
  background-image: url("../images/thead.png");
  width: 50px;
  height: 43px;
  position: absolute;
  top: 23px;
  left: 35px; }

/* ==TEYES== */
.teye {
  background-image: url("../images/teye.png");
  width: 6px;
  height: 17px;
  position: absolute;
  top: 12px; }

.teye#left {
  left: 12px; }

.teye#right {
  left: 38px; }

.turtle:nth-child(2) .teye {
  animation-delay: 1.3s; }

.turtle:nth-child(3) .teye {
  animation-duration: 6.5s; }

.turtle:nth-child(4) .teye {
  animation-delay: 3.2s; }

.turtle:nth-child(5) .teye {
  animation-duration: 8s; }

/* ==TFEET== */
.tfoot {
  background-image: url("../images/tfoot.png");
  width: 52px;
  height: 26px;
  position: absolute;
  top: 54px;
  animation: turtle-stomp 1s infinite; }

.tfoot#left {
  left: 0px; }

.tfoot#right {
  left: 68px; }

.turtle:nth-child(odd) .tfoot#left {
  animation-delay: .5s; }

.turtle:nth-child(even) .tfoot#right {
  animation-delay: .5s; }

/* ==ANIMATIONS== */
/* Safari and Chrome */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.anim_spin {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite; }

@-webkit-keyframes hinge2 {
  0% {
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
    transform: rotate3d(0, 0, 1, -15deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }

@keyframes hinge2 {
  0% {
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
    transform: rotate3d(0, 0, 1, -15deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; } }

.anim_blow {
  -webkit-animation-name: hinge2;
  animation-name: hinge2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@keyframes eye-blink {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  45% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1); }
  55% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@-webkit-keyframes eye-blink /* Safari and Chrome */ {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  45% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1); }
  55% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

.anim_blink {
  -webkit-animation: eye-blink 4s infinite;
  animation: eye-blink 4s infinite; }

@keyframes head-shakex {
  20% {
    animation-timing-function: ease-in;
    transform: translateX(20px); }
  50% {
    transform: translateX(0px); } }

@keyframes head-shakey {
  20% {
    animation-timing-function: ease-out;
    transform: translateY(-20px); }
  50% {
    transform: translateY(0px); } }

@-webkit-keyframes head-shakex {
  20% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: translateX(20px); }
  50% {
    -webkit-transform: translateX(0px); } }

@-webkit-keyframes head-shakey {
  20% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(-20px); }
  50% {
    -webkit-transform: translateY(0px); } }

@keyframes wavex {
  10% {
    transform: translateX(10px); }
  20% {
    transform: translateX(-10px); }
  30% {
    transform: translateX(10px); }
  40% {
    transform: translateX(-10px); } }

@keyframes wavey {
  10% {
    transform: translateY(-30px); }
  20% {
    transform: translateX(10px); }
  30% {
    transform: translateX(-10px); }
  40% {
    transform: translateX(30px); } }

/**@keyframes body-jump
{
  10% {
    animation-timing-function: ease-out;
    transform: translateY(-50px);
  }
  25% {
    animation-timing-function: ease-in;
    transform: translateY(0px);
  }
}
}**/
@keyframes body-jump {
  3% {
    animation-timing-function: ease-in;
    transform-origin: 50% 100%;
    transform: translateY(2px) scaleY(0.95); }
  6% {
    animation-timing-function: linear;
    transform: translateY(0px) scaleY(1); }
  12% {
    animation-timing-function: ease-out;
    transform: translateY(-50px); }
  18% {
    animation-timing-function: ease-in;
    transform: translateY(0px) scaleY(1); }
  21% {
    animation-timing-function: linear;
    transform: translateY(2px) scaleY(0.95); }
  24% {
    animation-timing-function: ease-out;
    transform: translateY(0px) scaleY(1); } }

@keyframes left-shoe-jump {
  6% {
    transform-origin: 41px 6px;
    transform: rotate(0deg); }
  9% {
    animation-timing-function: ease-out;
    transform: rotate(-12deg); }
  15% {
    transform: rotate(-12deg); }
  18% {
    animation-timing-function: ease-in;
    transform: rotate(0deg); } }

@keyframes right-shoe-jump {
  6% {
    transform-origin: 21px 6px;
    transform: rotate(0deg); }
  9% {
    animation-timing-function: ease-out;
    transform: rotate(12deg); }
  15% {
    transform: rotate(12deg); }
  18% {
    animation-timing-function: ease-in;
    transform: rotate(0deg); } }

@keyframes left-arm-jump {
  6% {
    transform: translateY(0px); }
  12% {
    animation-timing-function: ease-out;
    transform: translateY(-60px); }
  18% {
    animation-timing-function: ease-in;
    transform: translateY(0px); } }

@keyframes arm-balance {
  50% {
    animation-timing-function: ease;
    transform: translateY(16px); }
  100% {
    animation-timing-function: ease;
    transform: translateY(0px); } }

@keyframes turtle-stomp {
  50% {
    animation-timing-function: ease;
    transform: translateY(4px); }
  100% {
    animation-timing-function: ease;
    transform: translateY(0px); } }

@keyframes head-jump {
  6% {
    transform: rotate(0deg); }
  12% {
    animation-timing-function: ease-out;
    transform: rotate(8deg); }
  18% {
    animation-timing-function: ease-in;
    transform: rotate(0deg); } }

/*# sourceMappingURL=style.css.map */