.anim_blow {
  -webkit-animation-name: hinge2;
  animation-name: hinge2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.anim_spin {
  will-change: transform;
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite; }

#hugh1 .body {
  animation: body-jump 2.5s infinite; }

#hugh1 .shoe#left {
  animation: left-shoe-jump 2.5s infinite; }

#hugh1 .shoe#right {
  animation: right-shoe-jump 2.5s infinite; }

#hugh1 .head_wrap {
  animation: head-jump 2.5s infinite; }

#hugh1 .arm#left {
  animation: left-arm-jump 2.5s infinite; }

#hugh2 .arm, #hugh3 .arm {
  animation: arm-balance 1s infinite; }

#hugh2 .arm#right, #hugh3 .arm#right {
  animation-delay: .5s; }

.turtle:nth-child(2) .teye {
  animation-delay: 1.3s; }

.turtle:nth-child(3) .teye {
  animation-duration: 6.5s; }

.turtle:nth-child(4) .teye {
  animation-delay: 3.2s; }

.turtle:nth-child(5) .teye {
  animation-duration: 8s; }

.turtle:nth-child(odd) .tfoot#left {
  animation-delay: .5s; }

.turtle:nth-child(even) .tfoot#right {
  animation-delay: .5s; }

.tfoot {
  animation: turtle-stomp 1s infinite; }

#tim .eye {
  animation-duration: 3s;
  animation-delay: 1s; }

/* ==SCROLL TRIGGERED ANIMATIONS== */
.grow_pad {
  animation: grow-y 1s 1s 1 ease-out forwards; }

.rotate_arrows {
  animation: rotate 1.5s 1s 1 ease-out forwards; }

.grow_arrow_down {
  animation: grow 1s 1.15s 1 ease forwards; }

.grow_arrow_left {
  animation: grow 1s 1.3s 1 ease forwards; }

.grow_arrow_up {
  animation: grow 1s 1.45s 1 ease forwards; }

.grow_arrow_right {
  animation: grow 1s 1.6s 1 ease forwards; }

.grow_button_left {
  animation: grow 1s 1.75s 1 ease forwards; }

.grow_button_right {
  animation: grow 1s 1.9s 1 ease forwards; }

.grow_slider_line {
  animation: line-grow 1s 1.15s 1 ease-out forwards; }

.grow_slider_knob {
  animation: grow-y 1s 2.05s 1 ease forwards; }

.grow_stump {
  animation: grow 1s 1.5s 1 ease forwards; }

.grow_aerial_part1 {
  animation: aerial-grow1 .25s 2s 1 linear forwards; }

.grow_aerial_part2 {
  animation: aerial-grow2 .25s 2.25s 1 linear forwards; }

.grow_aerial_part3 {
  animation: aerial-grow3 .25s 2.5s 1 linear forwards; }

.grow_aerial_part4 {
  animation: aerial-grow4 .25s 2.75s 1 linear forwards; }

.spring_aerial {
  animation: spring 1s 2.75s 1 ease forwards; }

.grow_bulb {
  animation: appear 1ms 3.15s 1 forwards; }

.click_me_fade {
  animation: appear .5s 2s forwards; }

.click_me_anim {
  animation: bounce 1.5s 2.5s infinite; }

.shot {
  transform-origin: center center;
  animation: shot .5s ease-in forwards; }

/* ==KEYFRAMES== */
@keyframes appear {
  to {
    opacity: 1; } }

@keyframes aerial-grow1 {
  to {
    width: 100px; } }

@keyframes aerial-grow2 {
  to {
    width: 146px; } }

@keyframes aerial-grow3 {
  to {
    width: 128px; } }

@keyframes aerial-grow4 {
  to {
    width: 100px; } }

/* Safari and Chrome */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes hinge2 {
  0% {
    transform: rotate3d(0, 0, 1, 315deg);
    transform-origin: bottom right;
    animation-timing-function: ease-in-out; }
  20%,
  60% {
    transform: rotate3d(0, 0, 1, 300deg);
    transform-origin: bottom right;
    animation-timing-function: ease-in-out; }
  40%,
  80% {
    transform: rotate3d(0, 0, 1, 305deg);
    transform-origin: bottom right;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  100% {
    transform: rotate3d(0, 0, 1, 315deg); } }

@keyframes eye-blink {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  45% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1); }
  55% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@-webkit-keyframes eye-blink /* Safari and Chrome */ {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  45% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1); }
  55% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

.anim_blink {
  -webkit-animation: eye-blink 4s infinite;
  animation: eye-blink 4s infinite; }

@keyframes head-shakex {
  20% {
    transform: translateX(20px); }
  50% {
    transform: translateX(0px); } }

@keyframes head-shakey {
  20% {
    transform: translateY(-20px); }
  50% {
    transform: translateY(0px); } }

@-webkit-keyframes head-shakex {
  20% {
    -webkit-transform: translateX(20px); }
  50% {
    -webkit-transform: translateX(0px); } }

@-webkit-keyframes head-shakey {
  20% {
    -webkit-transform: translateY(-20px); }
  50% {
    -webkit-transform: translateY(0px); } }

@keyframes wavex {
  10% {
    transform: translateX(10px); }
  20% {
    transform: translateX(-10px); }
  30% {
    transform: translateX(10px); }
  40% {
    transform: translateX(-10px); } }

@keyframes wavey {
  10% {
    transform: translateY(-30px); }
  20% {
    transform: translateX(10px); }
  30% {
    transform: translateX(-10px); }
  40% {
    transform: translateX(30px); } }

@keyframes body-jump {
  3% {
    transform-origin: 50% 100%;
    transform: translateY(2px); }
  6% {
    transform: translateY(0px); }
  12% {
    transform: translateY(-50px); }
  18% {
    transform: translateY(0px); }
  21% {
    transform: translateY(2px); }
  24% {
    transform: translateY(0px); } }

@keyframes left-shoe-jump {
  6% {
    transform-origin: 41px 6px;
    transform: rotate(0deg); }
  9% {
    transform: rotate(-12deg); }
  15% {
    transform: rotate(-12deg); }
  18% {
    transform: rotate(0deg); } }

@keyframes right-shoe-jump {
  6% {
    transform-origin: 21px 6px;
    transform: rotate(0deg); }
  9% {
    transform: rotate(12deg); }
  15% {
    transform: rotate(12deg); }
  18% {
    transform: rotate(0deg); } }

@keyframes left-arm-jump {
  6% {
    transform: translateY(0px); }
  12% {
    transform: translateY(-60px); }
  18% {
    transform: translateY(0px); } }

@keyframes arm-balance {
  50% {
    animation-timing-function: ease;
    transform: translateY(16px); }
  100% {
    animation-timing-function: ease;
    transform: translateY(0px); } }

@keyframes turtle-stomp {
  50% {
    animation-timing-function: ease;
    transform: translateY(4px); }
  100% {
    animation-timing-function: ease;
    transform: translateY(0px); } }

@keyframes head-jump {
  6% {
    transform: rotate(0deg); }
  12% {
    transform: rotate(8deg); }
  18% {
    transform: rotate(0deg); } }

@keyframes grow {
  0% {
    position: absolute;
    -webkit-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0); }
  60% {
    -webkit-transform: scale(1.15) translateZ(0);
    transform: scale(1.15) translateZ(0); }
  80% {
    -webkit-transform: scale(0.95) translateZ(0);
    transform: scale(0.95) translateZ(0); }
  100% {
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0); } }

@-webkit-keyframes grow /* Safari and Chrome */ {
  0% {
    position: absolute;
    -webkit-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0); }
  60% {
    -webkit-transform: scale(1.15) translateZ(0);
    transform: scale(1.15) translateZ(0); }
  80% {
    -webkit-transform: scale(0.95) translateZ(0);
    transform: scale(0.95) translateZ(0); }
  100% {
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0); } }

@keyframes rotate {
  100% {
    transform: rotate(45deg); } }

@keyframes grow-y {
  0% {
    position: absolute;
    transform: scaleY(0); }
  60% {
    transform: scaleY(1.15); }
  80% {
    transform: scaleY(0.95); }
  100% {
    transform: scaleY(1); } }

@-webkit-keyframes grow-y {
  0% {
    position: absolute;
    -webkit-transform: scaleY(0); }
  60% {
    -webkit-transform: scaleY(1.15); }
  80% {
    -webkit-transform: scaleY(0.95); }
  100% {
    -webkit-transform: scaleY(1); } }

@keyframes line-grow {
  0% {
    position: absolute;
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

@-webkit-keyframes line-grow {
  0% {
    position: absolute;
    -webkit-transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1); } }

@keyframes spring {
  30% {
    transform: scaleY(0.875); }
  40% {
    transform: scaleY(1.125); }
  50% {
    transform: scaleY(0.975); }
  65% {
    transform: scaleY(1.025); }
  75% {
    transform: scaleY(0.975); }
  100% {
    transform: scaleY(1); } }

@keyframes rleft {
  100% {
    transform: translateX(-62px); } }

@keyframes pulse-ring {
  0% {
    transform: scale(0.33); }
  80%, 100% {
    opacity: 0; } }

@keyframes pulse-dot {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }

@keyframes drink {
  60% {
    transform: rotate(0deg); }
  70% {
    transition-timing-function: ease-in;
    transform: rotate(-75deg) translate(50px, -5px); }
  90% {
    transition-timing-function: ease-out;
    transform: rotate(-75deg) translate(50px, -5px); } }

@keyframes viola {
  0% {
    transform: rotate(330deg); }
  10% {
    transition-timing-function: ease-out;
    transform: rotate(250deg) translate(10px, 5px); }
  50% {
    transform: rotate(250deg) translate(10px, 5px); }
  60% {
    transition-timing-function: ease-in;
    transform: rotate(330deg); } }

@keyframes scratch {
  80% {
    transform: rotate(0deg); }
  84% {
    transition-timing-function: ease-in-out;
    transform: rotate(25deg); }
  86% {
    transition-timing-function: linear;
    transform: rotate(22deg); }
  88% {
    transition-timing-function: linear;
    transform: rotate(25deg); }
  90% {
    transition-timing-function: linear;
    transform: rotate(22deg); }
  92% {
    transition-timing-function: linear;
    transform: rotate(25deg); }
  96% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); } }

@keyframes chopper {
  0% {
    transition-timing-function: linear;
    transform: scaleX(1); }
  50% {
    transition-timing-function: linear;
    transform: scaleX(0); } }

@keyframes fly {
  0% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 0px); }
  10% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 200px); }
  20% {
    transition-timing-function: ease-in-out;
    transform: translate(200px, 200px); }
  30% {
    transition-timing-function: ease-in-out;
    transform: translate(200px, 400px); }
  40% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 400px); }
  50% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 600px); }
  60% {
    transition-timing-function: ease-in-out;
    transform: translate(200px, 600px); }
  70% {
    transition-timing-function: ease-in-out;
    transform: translate(200px, 800px); }
  80% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 800px); }
  90% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 1000px); }
  100% {
    transition-timing-function: ease-in-out;
    transform: translate(0px, 1000px); } }

@keyframes lean {
  0% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); }
  10% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); }
  12% {
    transition-timing-function: ease-in-out;
    transform: rotate(15deg); }
  18% {
    transition-timing-function: ease-in-out;
    transform: rotate(15deg); }
  20% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); }
  30% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); }
  32% {
    transition-timing-function: ease-in-out;
    transform: rotate(-15deg); }
  38% {
    transition-timing-function: ease-in-out;
    transform: rotate(-15deg); }
  40% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); }
  50% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); }
  52% {
    transition-timing-function: ease-in-out;
    transform: rotate(15deg); }
  58% {
    transition-timing-function: ease-in-out;
    transform: rotate(15deg); }
  60% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); }
  70% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); }
  72% {
    transition-timing-function: ease-in-out;
    transform: rotate(-15deg); }
  78% {
    transition-timing-function: ease-in-out;
    transform: rotate(-15deg); }
  80% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); }
  100% {
    transition-timing-function: ease-in-out;
    transform: rotate(0deg); } }

@keyframes rock {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(0deg); }
  13% {
    transition-timing-function: ease-in;
    transform: rotate(10deg); }
  17% {
    transform: rotate(10deg); }
  22% {
    transition-timing-function: linear;
    transform: rotate(-14deg); }
  24% {
    transition-timing-function: linear;
    transform: rotate(9deg); }
  26% {
    transition-timing-function: linear;
    transform: rotate(0deg); }
  30% {
    transform: rotate(0deg); }
  33% {
    transition-timing-function: ease-in;
    transform: rotate(-10deg); }
  37% {
    transform: rotate(-10deg); }
  42% {
    transition-timing-function: linear;
    transform: rotate(14deg); }
  44% {
    transition-timing-function: linear;
    transform: rotate(-9deg); }
  46% {
    transition-timing-function: linear;
    transform: rotate(0deg); }
  50% {
    transform: rotate(0deg); }
  53% {
    transition-timing-function: ease-in;
    transform: rotate(10deg); }
  57% {
    transform: rotate(10deg); }
  62% {
    transition-timing-function: linear;
    transform: rotate(-14deg); }
  64% {
    transition-timing-function: linear;
    transform: rotate(9deg); }
  66% {
    transition-timing-function: linear;
    transform: rotate(0deg); }
  70% {
    transform: rotate(0deg); }
  73% {
    transition-timing-function: ease-in;
    transform: rotate(-10deg); }
  77% {
    transform: rotate(-10deg); }
  82% {
    transition-timing-function: linear;
    transform: rotate(14deg); }
  84% {
    transition-timing-function: linear;
    transform: rotate(-9deg); }
  86% {
    transition-timing-function: linear;
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes hover {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px) rotate(0deg) scale(1); }
  25% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px) rotate(1deg) scale(1.04); }
  50% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px) rotate(0deg) scale(1); }
  75% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px) rotate(-0.5deg) scale(1.04); }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px) rotate(0deg) scale(1); } }

@keyframes shot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1; }
  80% {
    transition-timing-function: ease-in;
    opacity: 1; }
  100% {
    transition-timing-function: ease-in;
    transform: translateY(300px) rotate(311deg);
    opacity: 0; } }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

.green_scheme {
  --color_sole: #197b30;
  --color_shoe: #00a651; }

.brown_scheme {
  --color_sole: #996f47;
  --color_shoe: #ba8551; }

.black_scheme {
  --color_sole: #555555;
  --color_shoe: #000000; }

.font_black {
  color: #000000; }

#symbol_definitions {
  display: none; }

@media only screen and (min-width: 500px) {
  /* For desktop: */
  .comingsoon {
    display: none; } }

body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666; }

.comingsoon {
  display: none;
  position: fixed;
  background-color: #292929;
  height: 100%;
  width: 100%;
  z-index: 10; }

.comingsoon_text {
  top: 50%;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #dddddd;
  font-size: 30px; }

header, section, footer, aside, nav, article, hgroup, img {
  display: block; }

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: .6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.ptext {
  position: absolute;
  color: #e49b2e;
  text-transform: uppercase;
  font-size: 30px;
  top: 50%;
  width: 100%;
  text-align: center;
  letter-spacing: 8px; }

.border {
  border: 4px solid #e49b2e;
  padding: 15px; }

.section {
  position: relative;
  width: 100%;
  color: #e1e1e1; }

.section-dark {
  background-color: #282e34; }

#section1 {
  background-image: linear-gradient(225deg, #a0e9a5, #4ed557);
  height: 100%; }

#section2 {
  display: block;
  height: 1300px;
  padding-top: 50px;
  overflow: hidden;
  background-image: linear-gradient(135deg, #404040, #111111); }

#section4 {
  display: block;
  padding-top: 150px;
  padding-bottom: 200px;
  overflow: hidden;
  background-image: linear-gradient(135deg, #6973b6, #444d8a); }

#section5 {
  height: 2200px;
  overflow: hidden;
  background-color: #ffffff; }

#section6 {
  overflow: hidden;
  background-image: url("../images/build/sniper_bg.png");
  background-repeat: repeat;
  cursor: none;
  height: 100%; }

#section7 {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #FFDF6A;
  overflow: hidden; }

#section8 {
  background-image: linear-gradient(135deg, #a1e3e6, #61d0d4);
  height: 100%;
  overflow: hidden; }

.scene1 {
  display: block;
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden; }

.scene2 {
  display: block;
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden; }

.scene3 {
  position: relative;
  width: 800px;
  height: 820px;
  left: 50%;
  margin-left: -400px; }

.scene4 {
  height: 620px;
  width: 640px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -320px;
  margin-top: 140px; }

.scene5 {
  position: relative;
  height: 1000px;
  width: 100%;
  clip-path: circle(200px);
  background-image: url("../images/build/skills_bg.jpg");
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }

.scene6 {
  position: relative;
  height: 820px;
  width: 100%; }

.big_heading {
  position: absolute;
  font-size: 132px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  text-align: center;
  line-height: 1em;
  width: 100%; }

#years {
  top: 258px; }

#in {
  top: 356px; }

#university {
  top: 428px;
  color: #e49b2e; }

#I {
  top: 0; }

#worked {
  top: 73px; }

#on {
  top: 143px; }

#a {
  top: 214px; }

#sales {
  top: 288px;
  color: #4DBA5A; }

#tested {
  top: 70px; }

#Iw {
  top: -8px; }

#ware {
  top: 153px; }

#robotics {
  top: 237px;
  color: #FFDF6A; }

#created {
  top: 72px; }

#a2 {
  top: 145px; }

#game {
  top: 217px;
  color: #941cd2; }

#test {
  top: 0px; }

#your {
  top: 73px; }

#skills {
  top: 173px;
  color: #4451d6;
  letter-spacing: 7px; }

#against {
  top: 246px; }

#mine {
  top: 345px;
  color: #49cad0; }

#mouse {
  top: 465px;
  font-family: "Droid Sans Mono", sans-serif;
  font-size: 16px; }

.skill_text_wrapper {
  height: 500px;
  width: 100%;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -250px; }

#controller {
  position: absolute;
  background-repeat: no-repeat;
  transform-origin: center bottom;
  transform: scale(0.8);
  bottom: -40px; }

#warehouse {
  position: absolute;
  right: 20px;
  bottom: 0px;
  margin-left: -216px;
  width: 436px;
  height: 436px; }

#table {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  border-spacing: 2px;
  padding: 1px; }

.tr {
  display: table-row; }

.td {
  background: #8D97D2;
  display: table-cell; }

.rack {
  background: #6876c4; }

#ball {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../images/build/ball.png");
  background-repeat: no-repeat;
  background-size: 53px 51px;
  background-position: center;
  opacity: 0; }

#robot {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 188px;
  top: 188px;
  opacity: 0; }

.tracks {
  position: absolute;
  background: #ac5a69;
  border-radius: 6px;
  width: 30px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -25px; }

.chassis {
  position: absolute;
  background: #ffefbe;
  border-radius: 6px;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 30px;
  margin-left: -25px;
  margin-top: -15px; }

#robo_arm {
  position: absolute;
  width: 60px;
  height: 60px;
  transform-origin: center center; }

.stem {
  position: absolute;
  background: #333333;
  border-radius: 2px;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 2px;
  margin-top: -1px; }

.finger {
  position: absolute;
  background: #333333;
  border-radius: 2px;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  transform-origin: 1px center; }

.finger.f1 {
  left: 68px;
  width: 20px; }

.finger.f1#right {
  transform: rotate(90deg); }

.finger.f1#left {
  transform: rotate(-90deg); }

.finger.f2 {
  left: 69px;
  width: 10px; }

.finger.f2#right {
  top: 12px; }

.finger.f2#left {
  top: 48px; }

#ballPlaceHolder {
  position: absolute;
  top: 50%;
  left: 60px;
  width: 60px;
  height: 60px;
  margin-top: -30px; }

#ballPlaceHolder2 {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px; }

#goal {
  position: relative;
  top: 341px;
  left: 436px;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  opacity: 0; }

#pulsating-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 40px;
  height: 40px; }
  #pulsating-circle:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 100%;
    background-color: #ffffff;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }
  #pulsating-circle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite; }

#click_me {
  position: absolute;
  font-size: 26px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  margin-top: -23.5px;
  margin-left: 24px;
  transform-origin: left center;
  opacity: 0; }

.pad {
  position: absolute;
  background: #ffefbe;
  width: 480px;
  height: 240px;
  border-radius: 16px;
  bottom: 0px;
  left: 3px;
  box-shadow: 10px 10px #d9cba7;
  transform: scale(0);
  cursor: pointer; }

.arrow_wrapper {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 120px;
  left: 118px;
  margin-top: -60px;
  margin-left: -60px; }

.arrow {
  position: absolute;
  background: #ac5a69;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  margin: 4px;
  transform: scale(0);
  box-shadow: 3px -3px #8c4753; }

.clicky:hover {
  filter: brightness(120%); }

.highlight {
  filter: brightness(300%); }

.arrow#a_left {
  bottom: 0; }

.arrow#a_down {
  right: 0;
  bottom: 0; }

.arrow#a_right {
  right: 0; }

.controls_wrapper {
  position: absolute;
  display: table;
  width: 180px;
  height: 150px;
  top: 50%;
  right: 42px;
  margin-top: -75px; }

.buttons_wrapper {
  width: 100%;
  height: 60px; }

.button {
  position: absolute;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  transform: scale(0); }

.button#left {
  background: #45d739;
  left: 14px;
  box-shadow: 3px 0px #30b825; }

.button#right {
  background: #ef9d35;
  right: 14px;
  box-shadow: 3px 0px #df8512; }

.slider_wrapper {
  position: relative;
  display: table;
  width: 180px;
  height: 60px;
  margin-top: 30px; }

.slider_wrapper .line {
  position: absolute;
  background: #ac5a69;
  border-radius: 1px;
  width: 180px;
  height: 4px;
  top: 50%;
  margin-top: -2px;
  transform: scale(0);
  transform-origin: left; }

.slider_wrapper .knob {
  position: absolute;
  background: #ac5a69;
  border-radius: 2px;
  width: 28px;
  height: 60px;
  left: 0;
  cursor: grab;
  box-shadow: 3px 0px #8c4753;
  transform: scale(0); }

.aerial_wrapper {
  position: absolute;
  display: table;
  width: 164px;
  height: 294px;
  bottom: 240px;
  left: 240px;
  margin-left: -82px;
  transform-origin: bottom; }

.aerial_wrapper .stump {
  background: #ac5a69;
  position: absolute;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
  margin-bottom: -30px;
  transform: scale(0); }

.aerial_wrapper .line {
  position: absolute;
  background: #000000;
  border-radius: 3px;
  height: 6px;
  margin-bottom: -3px;
  transform-origin: left center;
  width: 0; }

.line_wrapper {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  transform-origin: center 270px; }

.line#part1 {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: rotate(-37deg); }

.line#part2 {
  left: 100%;
  bottom: 80px;
  transform: rotate(198deg); }

.line#part3 {
  left: 26px;
  bottom: 125px;
  transform: rotate(-20deg); }

.line#part4 {
  left: 146px;
  bottom: 168px;
  transform: rotate(235deg); }

.aerial_wrapper .bulb {
  background: #ffffff;
  position: absolute;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  left: 65px;
  bottom: 240px;
  opacity: 0; }

#hugh1 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -105px;
  margin-top: -100px; }

#hugh2 {
  position: absolute;
  left: 50%;
  top: 55px;
  margin-left: 535px;
  transform-origin: 105px 200px;
  transform: scale(0.7);
  opacity: 0; }

#hugh3 {
  position: absolute;
  left: 50%;
  top: 55px;
  margin-left: 535px;
  transform-origin: 105px 200px;
  transform: scale(0.7);
  opacity: 0; }

#jim {
  display: table;
  position: absolute;
  left: 90px;
  bottom: 0; }

#tim {
  display: block;
  position: absolute;
  right: 90px;
  bottom: 0; }

/* ==BODY== */
.body {
  width: 210px;
  height: 164px;
  position: relative;
  will-change: transform; }

.torso {
  width: 108px;
  height: 108px;
  margin-left: 51px;
  margin-top: 48px;
  fill: white;
  contain: strict; }

#jim .torso {
  fill: #4dba5a; }

#tim .body {
  background-image: url("../images/build/tim_body.png"); }

/* ==HEAD== */
.head_wrap {
  position: absolute;
  top: 12px;
  left: 73px;
  width: 84px;
  height: 72px; }

.head {
  width: 84px;
  height: 72px;
  position: absolute;
  fill: #FDC689;
  contain: strict; }

#hugh2 .head_wrap {
  left: 59px; }

#tim .head_wrap {
  left: 52px; }

/* ==HAIR== */
.hairs {
  position: relative;
  left: 24px;
  top: -16px; }

#hugh2 .hairs {
  left: -24px;
  transform: scaleX(-1); }

#jim .hairs {
  background-image: url("../images/build/jim_hair.png");
  width: 30px;
  height: 9px;
  position: absolute;
  top: -5px;
  left: 28px; }

#tim .hairs {
  background-image: url("../images/build/tim_hair.png");
  width: 50px;
  height: 8px;
  position: absolute;
  top: -4px;
  left: 16px; }

.hair {
  width: 2px;
  height: 19px;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(315deg);
  contain: strict; }

.one {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms; }

.two {
  left: 6px;
  -webkit-animation-delay: 350ms;
  animation-delay: 350ms; }

.three {
  left: 12px;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms; }

.four {
  left: 18px;
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms; }

.five {
  left: 24px;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms; }

.six {
  left: 30px;
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms; }

.seven {
  left: 36px;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms; }

.eight {
  left: 42px;
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms; }

/* ==EYES== */
.eye {
  width: 10px;
  height: 28px;
  position: absolute;
  top: 20px;
  contain: strict; }

.eye#left {
  left: 20px; }

.eye#right {
  left: 64px; }

#hugh2 .eye#left, #tim .eye#left {
  left: 10px; }

#hugh2 .eye#right, #tim .eye#right {
  left: 54px; }

/* ==ARMS== */
.arm {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 84px;
  fill: #FDC689; }

#tim .arm {
  width: 50px;
  background: none; }

.arm#left {
  left: 17px; }

.arm#right {
  left: 146px; }

#tim .arm#left {
  background-image: url("../images/build/tim_arml.png");
  transform: rotate(90deg);
  left: 13px;
  top: 80px; }

#tim .arm#right {
  background-image: url("../images/build/tim_armr.png");
  transform: rotate(330deg);
  left: 138px;
  transform-origin: center 15px;
  animation: viola 2.5s infinite; }

#jim .arm#left {
  transform-origin: 200px center;
  animation: scratch 7s infinite; }

#jim .arm#right {
  transform-origin: center bottom;
  animation: drink 5s infinite; }

.arm_svg {
  width: 48px;
  height: 48px;
  position: absolute; }

.cup {
  background-image: url("../images/build/cup.png");
  width: 24px;
  height: 28px;
  position: absolute;
  top: -14px;
  left: 30%; }

#hugh2 .arm, #hugh3 .arm {
  top: 70px; }

/* ==SHOES== */
.shoe {
  width: 62px;
  height: 32px;
  position: absolute;
  top: 132px;
  contain: strict; }

#jim .shoe {
  fill: #ba8551; }

#tim .shoe {
  fill: #000000; }

.shoe#left {
  left: 33px; }

.shoe#right {
  left: 115px; }

#jim #sole_path {
  fill: red; }

/* ==BOARD== */
.board_wrap {
  position: absolute;
  top: 146px; }

.board {
  width: 210px;
  height: 24px;
  position: absolute; }

/* ==WHEELS== */
.wheel {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 26px;
  contain: strict; }

.wheel#left {
  left: 33px; }

.wheel#right {
  left: 149px; }

.flipped {
  transform-origin: center center;
  transform: scaleX(-1); }

.turtle_container {
  display: table;
  position: absolute;
  width: 632px;
  left: 50%;
  top: 170px;
  padding: 0;
  margin-left: -316px;
  transform-origin: bottom center;
  transform: scale(0.7); }

.turtle_container2 {
  display: table;
  position: absolute;
  width: 504px;
  left: 50%;
  top: 170px;
  padding: 0;
  margin-left: -252px;
  transform-origin: bottom center;
  transform: scale(0.7); }

#turtle1 {
  float: left; }

#turtle2 {
  float: left;
  margin-left: 8px; }

#turtle3 {
  float: left;
  margin-left: 8px; }

#turtle4 {
  float: left;
  margin-left: 8px; }

#turtle5 {
  float: left;
  margin-left: 8px; }

.count {
  position: absolute;
  width: 120px;
  bottom: 120px;
  font-size: 132px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  text-align: center; }

/* ==TBODY== */
.tbody_wrap {
  width: 120px;
  height: 86px;
  position: relative; }

.tbody {
  width: 108px;
  height: 74px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -54px;
  margin-top: -37px; }

/* ==THEAD== */
.thead_wrap {
  position: absolute;
  top: 23px;
  left: 35px; }

.thead {
  width: 50px;
  height: 43px;
  position: absolute;
  fill: #B1C840; }

/* ==TEYES== */
.teye {
  width: 6px;
  height: 17px;
  position: absolute;
  top: 12px; }

.teye#left {
  left: 12px; }

.teye#right {
  left: 38px; }

/* ==TFEET== */
.tfoot {
  width: 52px;
  height: 26px;
  position: absolute;
  top: 54px; }

.tfoot#left {
  left: 0; }

.tfoot#right {
  left: 68px; }

#lemonade_stand {
  background-image: url("../images/build/lemonade_stand.png");
  width: 160px;
  height: 188px;
  position: absolute;
  left: 0;
  bottom: 0; }

#tablet_wrap {
  position: absolute;
  width: 858px;
  height: 548px;
  left: 50%;
  top: 765px;
  margin-left: -429px;
  margin-top: -274px; }

#tablet {
  position: absolute;
  opacity: 0;
  width: 858px;
  height: 548px; }

#slideshow {
  background-image: url("../images/tablet_frame.png");
  background-size: 100% 100%;
  position: absolute;
  width: 858px;
  height: 548px; }

.slide_container {
  position: absolute;
  width: 768px;
  height: 451px;
  left: 50%;
  top: 50%;
  margin-left: -384px;
  margin-top: -235px;
  overflow-x: hidden;
  contain: strict; }

.slide_reel {
  background-image: url("../images/build/screen_reel.jpg");
  background-size: contain;
  height: 451px;
  position: absolute;
  width: 3072px;
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translateZ(0);
  contain: strict; }

.slide {
  position: relative;
  width: 768px;
  height: 100%;
  float: left;
  contain: strict; }

.swipe_hand {
  position: absolute;
  background-image: url("../images/build/swipe_hand.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 290px;
  height: 294px;
  left: 50%;
  bottom: -70px;
  margin-left: -145px;
  transform: translateZ(0) rotate(-20deg);
  opacity: 0;
  backface-visibility: hidden;
  perspective: 1000px;
  contain: strict; }

/** ==SKILLS GAME STUFF== **/
.crosshair {
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.67);
  left: 50px;
  top: 200px;
  border-radius: 4px;
  filter: brightness(300%);
  pointer-events: none; }

.drone {
  display: table;
  position: absolute;
  width: 168px;
  height: 160px;
  margin-top: -160px;
  text-align: center;
  top: 0;
  left: 50%; }

.d1 {
  margin-left: 15px;
  animation: fly 10s infinite; }
  .d1 .dbody {
    animation: lean 10s infinite; }
  .d1 .rocking {
    animation: rock 10s infinite; }

.d2 {
  margin-left: 15px;
  animation: fly 10s infinite 1s; }
  .d2 .dbody {
    animation: lean 10s infinite 1s; }
  .d2 .rocking {
    animation: rock 10s infinite 1s; }

.d3 {
  margin-left: 15px;
  animation: fly 10s infinite 2s; }
  .d3 .dbody {
    animation: lean 10s infinite 2s; }
  .d3 .rocking {
    animation: rock 10s infinite 2s; }

.d4 {
  margin-left: 15px;
  animation: fly 10s infinite 3s; }
  .d4 .dbody {
    animation: lean 10s infinite 3s; }
  .d4 .rocking {
    animation: rock 10s infinite 3s; }

.d5 {
  margin-left: 15px;
  animation: fly 10s infinite 4s; }
  .d5 .dbody {
    animation: lean 10s infinite 4s; }
  .d5 .rocking {
    animation: rock 10s infinite 4s; }

.d6 {
  margin-left: 15px;
  animation: fly 10s infinite 5s; }
  .d6 .dbody {
    animation: lean 10s infinite 5s; }
  .d6 .rocking {
    animation: rock 10s infinite 5s; }

.d7 {
  margin-left: 15px;
  animation: fly 10s infinite 6s; }
  .d7 .dbody {
    animation: lean 10s infinite 6s; }
  .d7 .rocking {
    animation: rock 10s infinite 6s; }

.d8 {
  margin-left: 15px;
  animation: fly 10s infinite 7s; }
  .d8 .dbody {
    animation: lean 10s infinite 7s; }
  .d8 .rocking {
    animation: rock 10s infinite 7s; }

.d9 {
  margin-left: 15px;
  animation: fly 10s infinite 8s; }
  .d9 .dbody {
    animation: lean 10s infinite 8s; }
  .d9 .rocking {
    animation: rock 10s infinite 8s; }

.d10 {
  margin-left: 15px;
  animation: fly 10s infinite 9s; }
  .d10 .dbody {
    animation: lean 10s infinite 9s; }
  .d10 .rocking {
    animation: rock 10s infinite 9s; }

.d11 {
  margin-left: -383px;
  animation: fly 10s infinite; }
  .d11 .dbody {
    animation: lean 10s infinite; }
  .d11 .rocking {
    animation: rock 10s infinite; }

.d12 {
  margin-left: -383px;
  animation: fly 10s infinite 1s; }
  .d12 .dbody {
    animation: lean 10s infinite 1s; }
  .d12 .rocking {
    animation: rock 10s infinite 1s; }

.d13 {
  margin-left: -383px;
  animation: fly 10s infinite 2s; }
  .d13 .dbody {
    animation: lean 10s infinite 2s; }
  .d13 .rocking {
    animation: rock 10s infinite 2s; }

.d14 {
  margin-left: -383px;
  animation: fly 10s infinite 3s; }
  .d14 .dbody {
    animation: lean 10s infinite 3s; }
  .d14 .rocking {
    animation: rock 10s infinite 3s; }

.d15 {
  margin-left: -383px;
  animation: fly 10s infinite 4s; }
  .d15 .dbody {
    animation: lean 10s infinite 4s; }
  .d15 .rocking {
    animation: rock 10s infinite 4s; }

.d16 {
  margin-left: -383px;
  animation: fly 10s infinite 5s; }
  .d16 .dbody {
    animation: lean 10s infinite 5s; }
  .d16 .rocking {
    animation: rock 10s infinite 5s; }

.d17 {
  margin-left: -383px;
  animation: fly 10s infinite 6s; }
  .d17 .dbody {
    animation: lean 10s infinite 6s; }
  .d17 .rocking {
    animation: rock 10s infinite 6s; }

.d18 {
  margin-left: -383px;
  animation: fly 10s infinite 7s; }
  .d18 .dbody {
    animation: lean 10s infinite 7s; }
  .d18 .rocking {
    animation: rock 10s infinite 7s; }

.d19 {
  margin-left: -383px;
  animation: fly 10s infinite 8s; }
  .d19 .dbody {
    animation: lean 10s infinite 8s; }
  .d19 .rocking {
    animation: rock 10s infinite 8s; }

.d20 {
  margin-left: -383px;
  animation: fly 10s infinite 9s; }
  .d20 .dbody {
    animation: lean 10s infinite 9s; }
  .d20 .rocking {
    animation: rock 10s infinite 9s; }

/** ==SKILL COLOURS== **/
.colour1 {
  background-color: #a992e4; }

.colour2 {
  background-color: #e4593a; }

.colour3 {
  background-color: #1edbb2; }

.colour4 {
  background-color: #e4b82f; }

.colour5 {
  background-color: #5ee423; }

.colour6 {
  background-color: #e48d66; }

.colour7 {
  background-color: #5bc3e4; }

.colour8 {
  background-color: #655de4; }

.colour9 {
  background-color: #a7db48; }

.colour10 {
  background-color: #000000; }

.dbody {
  background-image: url("../images/build/dbody.png");
  background-repeat: no-repeat;
  width: 168px;
  height: 52px;
  position: absolute;
  transform-origin: center bottom; }

.dwing {
  background-image: url("../images/build/dwing.png");
  width: 55px;
  height: 5px;
  position: absolute;
  top: 3px;
  animation: chopper .15s infinite; }

.dwing#left {
  left: -14px; }

.dwing#right {
  left: 127px; }

.skill_wrapper {
  position: absolute;
  width: 100%;
  top: 60px;
  transform-origin: center -30px; }

.rope {
  position: absolute;
  background: #000000;
  border-radius: 3px;
  width: 4px;
  height: 20px;
  top: -20px;
  left: 50%;
  margin-left: -2px; }

.skill {
  display: inline-block;
  border-radius: 6px;
  padding: 6px;
  font-size: 16px;
  font-family: "Ariel", sans-serif;
  color: #f1f1f1;
  user-select: none; }

/** ==XBOX GAME STUFF==**/
#game_video {
  width: 800px;
  height: 450px;
  border-radius: 4px; }

.video_wrapper {
  position: absolute;
  width: 800px;
  height: 450px;
  margin-left: -300px;
  left: 50%;
  bottom: 0; }

.game_cover {
  background-image: url("../images/build/xbox_cover.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 243px;
  height: 340px;
  position: absolute;
  top: 50%;
  margin-left: -200px;
  margin-top: -175px;
  border-radius: 4px;
  animation: hover 15s infinite linear; }

.speaker {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  overflow: hidden;
  display: inline-block;
  z-index: 5; }
  .speaker span {
    display: block;
    width: 8px;
    height: 8px;
    background: #fff;
    margin: 11px 0 0 2px; }
    .speaker span:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent #fff transparent transparent;
      border-width: 10px 14px 10px 15px;
      left: -13px;
      top: 5px; }
    .speaker span:before {
      transform: rotate(45deg);
      border-radius: 0 50px 0 0;
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-style: double;
      border-color: #fff;
      border-width: 7px 7px 0 0;
      left: 18px;
      top: 9px;
      transition: all 0.2s ease-out; }
  .speaker:hover span:before {
    transform: scale(0.8) translate(-3px, 0) rotate(42deg); }
  .speaker.mute span:before {
    transform: scale(0.5) translate(-15px, 0) rotate(36deg);
    opacity: 0; }

/*# sourceMappingURL=style.css.map */